<% content_for :title do %>
Phân quyền
<% end %>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-comments"></i>Striped Table </div>
      <div class="tools">
        <a href="javascript:;" onclick="detailroles()"> 
        <i class="fa fa-comments" style="color: white"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body" style="display: block;min-height: 500px;">
      <div class="table-scrollable" style="min-height: 500px">
        <table class="table table-striped table-hover" >
          <thead>
            <tr>
              <th> # </th>
              <th> id </th>
              <th style="width: 40%"> Email </th>
              <th> Roles </th>
            </tr>
          </thead>
          <tbody>
            <% count = 1  %>
            <% @user_pq.each do |user| %>
              <tr>
                <td> <%= count %> </td>
                <td> <%= user.id %> </td>
                <td> <%= user.email %> </td>
                <td>  
                  <% if count < @users.length/2 + 1 %>
                  <div class="btn-group">
                  <% else %>
                  <div class="btn-group dropup">
                  <% end %>
                    <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> 
                      <% if user.phanquyen %>
                        <span id=<%=user.id%>><%= user.roles[0].name %></span>
                      <% else %>
                        <span id=<%=user.id%>>None</span>
                      <% end %>
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li onclick="choose(<%=user.id%>,'Admin')">
                        <a href="javascript:;"> Admin </a>
                      </li>
                      <li class="dropdown-submenu">
                        <a href="javascript:;"> Editor </a>
                        <ul class="dropdown-menu roles-menu" >
                          <% @roles.each do |role| %>
                            <% if role.resource_id !=nil %>
                              <li >
                                  <% if user.roles.exists?(:id => role.id) %>
                                    <div onclick="choose(<%=user.id%>,<%=role.id%>)" style="display: inline;" >
                                      <%= check_box("post", "editor",{checked: true}) %> 
                                      </div>
                                  <% else %>
                                    <div onclick="choose(<%=user.id%>,<%=role.id%>)" style="display: inline;" >
                                      <%= check_box("post", "editor",{checked: false}) %> </div> 
                                  <% end %>

                                <a style="display: inline-block;"> 
                                    <%= @categories.find(role.resource_id).name %>
                                </a>
                              </li>
                            <% end %>
                          <% end %>
                          <div class="spacer"></div>
                        </ul>
                      </li>
                      <li onclick="choose(<%=user.id%>, 'User')">
                        <a href="javascript:;"> User </a>
                      </li>
                      <li onclick="choose(<%=user.id%>, 'None')">
                        <a href="javascript:;"> None </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% count += 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
