<p id="notice"><%= notice %></p>
<div id="container">
  <h3 id="tit">Phân quyền</h3>

  <table style="width:100%" id="tableTit">
    <thead>
      <tr>
        <th class="usertable" id="pqtit" >Đã phân quyền</th>
        <th class="usertable" id="npqtit" >Chưa phân quyền</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div id="email-block" >
    <div  id="div_pq">
      <% i = 0; %>
      <% @user_pq.each do |user| %>
        <div id="pqemail" class="pq" onclick=<%= "emailcl(" + i.to_s + ")" %>  >
          <%=  user.email %>
          <hr>
        </div>
          <% id = "emaildetail" + i.to_s; %>
          <div id=<%=id%> class="emaildetail"  >
              <% @roles.each do |roleall|  %>
                <% count = 0 %>
                <% user.roles.each do |roleuser| %>
                    <% if roleall == roleuser %>
                      <% count = count + 1 %>
                    <% end %>  
                <% end %>
                <% if count == 0 %>
                  <div id=<%="emaildetail" + user.id.to_s + roleall.id.to_s%> style="color: black" >
                  <div onclick="detail(<%=user.id%>,<%=roleall.id%>)" class="checkboxblock" >
                    <input type="checkbox" id=<%="checkbox" + user.id.to_s + roleall.id.to_s%> >
                  </div>
                <% else %>
                  <div id=<%="emaildetail" + user.id.to_s + roleall.id.to_s%> style="color: red" >
                  <div onclick="detail(<%=user.id%>,<%=roleall.id%>)" class="checkboxblock" >
                    <input type="checkbox" checked=true id=<%="checkbox" + user.id.to_s + roleall.id.to_s%>  >
                  </div>
                <% end %>
                    <%= roleall.name %>
                    <% if roleall.name != "admin" %>
                      <%= @categories.find(roleall.resource_id).name %>
                    <% end %>
                  </div>
              <% end %>
          <% i= i + 1; %>
          </div>
        <hr id=<%=id + "hr"%> style="display: none;" >
        
      <% end %>
    </div>
    <div id="line_center"></div>
    <div id="div_npq" >
      <% @user_npq.each do |user|  %>
        <div id="npqemail" class="npq" onclick=<%= "emailcl(" + i.to_s + ")" %>  >
          <%=  user.email %>
          <hr>
        </div>
        <% id = "emaildetail" + i.to_s; %>
          <div id=<%=id%> class="emaildetail"  >
              <% @roles.each do |roleall|  %>
                  <div id=<%="emaildetail" + user.id.to_s + roleall.id.to_s%> style="color: black" >
                  <div onclick="detail(<%=user.id%>,<%=roleall.id%>)" class="checkboxblock" >
                    <input type="checkbox" id=<%="checkbox" + user.id.to_s + roleall.id.to_s%> >
                  </div>
                    <%= roleall.name %>
                    <% if roleall.name != "admin" %>
                      <%= @categories.find(roleall.resource_id).name %>
                    <% end %>
                  </div>
              <% end %>

          <% i= i + 1; %>
          </div>
        <hr id=<%=id + "hr"%> style="display: none;" >
      <% end %>
    </div>
    <div class="spacer"></div>
    <div></div>
  </div>
</div>
