<% content_for :title do %>
Thông tin
<% end %>
<div class="profile-sidebar col-md-5 ">
   <div class="portlet light profile-sidebar-portlet ">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
         <img class="media-object media-avatar" alt="" src="<%= image_url "avatar.png" %>">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
         <div class="profile-usertitle-name email" id="email" onload="emaiil()"> <span><%=@user.email%></span> 
         <span class="tooltipp"><%=@user.email%></span>
         </div>
         <div class="profile-usertitle-job"> <%=@roleName%> </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
         <button type="button" class="btn btn-circle green btn-sm">Follow</button>
         <button type="button" class="btn btn-circle red btn-sm">Message</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
         <ul class="nav">
            <li class="active">
               <a href="page_user_profile_1.html">
               <i class="icon-home"></i> Overview </a>
            </li>
            <li>
               <a href="page_user_profile_1_account.html">
               <i class="icon-settings"></i> Account Settings </a>
            </li>
            <li>
               <a href="page_user_profile_1_help.html">
               <i class="icon-info"></i> Help </a>
            </li>
         </ul>
      </div>
      <!-- END MENU -->
   </div>
  <!--  <!-- <div class="portlet light ">
      <!-- STAT -->
      <!-- <div class="row list-separated profile-stat">
         <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 37 </div>
            <div class="uppercase profile-stat-text"> Projects </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 51 </div>
            <div class="uppercase profile-stat-text"> Tasks </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 61 </div>
            <div class="uppercase profile-stat-text"> Uploads </div>
         </div>
      </div> -->
      <!-- END STAT -->
      <!-- <div>
         <h4 class="profile-desc-title">About Marcus Doe</h4>
         <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
         <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-globe"></i>
            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
         </div>
         <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-twitter"></i>
            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
         </div>
         <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-facebook"></i>
            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
         </div>
      </div> -->
   <!-- </div> --> 
</div>
<div class="profile-content col-md-7">
   <div class="portlet light ">
            <div class="portlet-title tabbable-line">
               <div class="caption caption-md">
                  <i class="icon-globe theme-font hide"></i>
                  <span class="caption-subject font-blue-madison bold uppercase">Feeds</span>
               </div>
               <ul class="nav nav-tabs">
                  <li class="active">
                     <a href="#tab_1_1" data-toggle="tab"> System </a>
                  </li>
                  <li>
                     <a href="#tab_1_2" data-toggle="tab"> Activities </a>
                  </li>
               </ul>
            </div>
            
              <div class="portlet-body">
               <!--BEGIN TABS-->
               <div class="tab-content">
                  <div class="tab-pane active" id="tab_1_1">
                     <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 320px;">
                        <div class="scroller " style="height: 320px; overflow: auto; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1" id="style-1">
                           <ul class="feeds">
                              <% @historiesFeeds.each do |feed| %>
                              
                              <li>
                                 <div class="col1">
                                    <div class="cont">
                                       <% if feed.event != 'create' %>
                                       <div class="cont-col1">
                                          <div class="label label-sm label-success">
                                             <i class="fa fa-bell-o"></i>
                                          </div>
                                       </div>
                                       <% else %>
                                       <div class="cont-col1">
                                          <div class="label label-sm label-danger">
                                             <i class="fa fa-plus"></i>
                                          </div>
                                       </div>
                                       <% end -%>
                                       <div class="cont-col2">
                                          <div class="desc" style="width: 400px"> 
                                             <% if @users.exists?(feed.whodunnit)%>
                                             <% link = "/users/" + feed.whodunnit.to_s %>
                                             <a href=<%=link%>>
                                                <%=@users.find(feed.whodunnit).email%>
                                                </a>
                                             <% else %>
                                             <a>Người lạ </a>
                                             <% end -%>
                                             <%=feed.object%>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col2" >
                                    <div class="date" style="float: right;    width: 150px;"><%=feed.created_at.to_s[0..19]%>  </div>
                                 </div>
                              </li>
                              <% end -%>
                           </ul>
                        </div>
                        <div class="slimScrollBar" style="background: rgb(215, 220, 226); width: 7px; position: absolute; top: 184px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 112.775px;"></div>
                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                     </div>
                  </div>
                  <div class="tab-pane" id="tab_1_2">
                     <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 337px;">
                        <div class="scroller" style="height: 337px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                           <ul class="feeds">
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New order received </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> 10 mins </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <div class="col1">
                                    <div class="cont">
                                       <div class="cont-col1">
                                          <div class="label label-sm label-danger">
                                             <i class="fa fa-bolt"></i>
                                          </div>
                                       </div>
                                       <div class="cont-col2">
                                          <div class="desc"> Order #24DOP4 has been rejected.
                                             <span class="label label-sm label-danger "> Take action
                                             <i class="fa fa-share"></i>
                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col2">
                                    <div class="date"> 24 mins </div>
                                 </div>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                              <li>
                                 <a href="javascript:;">
                                    <div class="col1">
                                       <div class="cont">
                                          <div class="cont-col1">
                                             <div class="label label-sm label-success">
                                                <i class="fa fa-bell-o"></i>
                                             </div>
                                          </div>
                                          <div class="cont-col2">
                                             <div class="desc"> New user registered </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col2">
                                       <div class="date"> Just now </div>
                                    </div>
                                 </a>
                              </li>
                           </ul>
                        </div>
                        <div class="slimScrollBar" style="background: rgb(215, 220, 226); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                     </div>
                  </div>
               </div>
               <!--END TABS-->
         </div>
            </div>
     
         <!-- BEGIN PORTLET -->
         
         <!-- END PORTLET -->
  </div>
  <div class="profile-content col-md-12">
     <div class="portlet light ">
            <div class="portlet-title">
               <div class="caption caption-md">
                  <i class="icon-bar-chart theme-font hide"></i>
                  <span class="caption-subject font-blue-madison bold uppercase">Lịch sử hoạt động</span>
                  <span class="caption-helper hide">weekly stats...</span>
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">
                     <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                     <input type="radio" name="options" class="toggle" id="option1">Today</label>
                     <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                     <input type="radio" name="options" class="toggle" id="option2">Week</label>
                     <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                     <input type="radio" name="options" class="toggle" id="option2">Month</label>
                  </div>
               </div>
            </div>
            <div class="portlet-body">
               <div class="row number-stats margin-bottom-30">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <div class="stat-left">
                        <div class="stat-chart">
                           <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                           <div id="sparkline_bar">
                              <canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas>
                           </div>
                        </div>
                        <div class="stat-number">
                           <div class="title"> Total </div>
                           <div class="number"> 2460 </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <div class="stat-right">
                        <div class="stat-chart">
                           <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                           <div id="sparkline_bar2">
                              <canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas>
                           </div>
                        </div>
                        <div class="stat-number">
                           <div class="title"> New </div>
                           <div class="number"> 719 </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="table-scrollable table-scrollable-borderless">
                  <table class="table table-hover table-light">
                     <thead>
                        <tr class="uppercase">
                           <th> Mục </th>
                           <th> Tên chuyên mục </th>
                           <th> Hành động </th>
                           <th> Chi tiết </th>
                        </tr>
                     </thead>
                     <tbody>
                        <% @histories.each do |history| %>
                        <tr>
                           <td >
                              <%= history.item_type%> 
                           </td>
                           <td style="color: blue">
                              <% if history.item_id != -1 %>
                                 <%= Category.find(history.item_id).name%>
                              <% else %>
                                 Đã xóa
                              <% end -%>
                           </td>
                           <td style="color: red"> <%=history.event%> </td>
                           <td>  <% if history.object != nil %>
                                 <% arrs = history.object.split('<br>') %>
                                    <% arrs.each do |arr| %>
                                       <%= arr %>
                                       <br>
                                    <% end -%>
                                 <% end -%>
                              </td>
                           <td>
                              
                           </td>
                        </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
  </div>
