<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
  <div class="container">
    <!-- BEGIN HEADER SEARCH BOX -->
    <form class="search-form" action="page_general_search.html" method="GET">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
        <span class="input-group-btn">
          <a href="javascript:;" class="btn submit">
            <i class="icon-magnifier"></i>
          </a>
        </span>
      </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN MEGA MENU -->
    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
    <div class="hor-menu">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page? root_path %>">
          <a href="<%= root_path %>" class="nav-link">
            <i class="icon-home"></i> Trang chủ
          </a>
        </li>
        <li class="<%= "active" if current_page? categories_path %>">
          <a href="<%= showall_path %>" class="nav-link">
            Xem chuyên mục
          </a>
        </li>
        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
          <a href="javascript:;"> Mục từ
            <span class="arrow"></span>
          </a>

          <ul class="dropdown-menu pull-left">
            <li aria-haspopup="true" class="dropdown-submenu ">
              <a href="javascript:;" class="nav-link nav-toggle ">
                <i class="fa fa-book"></i> Xem theo quyển
                <span class="arrow"></span>
              </a>
              <ul class="dropdown-menu">
                <% @book.each do |book| %>
                  <li aria-haspopup="true" class="dropdown-submenu ">
                    <a href="javascript:;" class="nav-link nav-toggle"> <%= book.name %>
                      <span class="arrow"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <%@entryCount = 0 %>
                      <% @entries.each do |entry| %>
                        <% if entry.book == book.name%>
                          <li class="">
                            <a href="javascript:;" class="nav-link "> <%= entry.name %> </a>
                          </li>
                          <% @entryCount += 1 %>
                        <% end %> 
                      <% end %>
                       <% if @entryCount == 0 %>
                        <li class="">
                          <a href="javascript:;" class="nav-link "> No entry</a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
            <li aria-haspopup="true" class="dropdown-submenu ">
              <a href="javascript:;" class="nav-link nav-toggle ">
                <i class="fa fa-sort-alpha-asc"></i> Xem theo vần
                <span class="arrow"></span>
              </a>
              <ul class="dropdown-menu">
                <% @entries.each do |entry| %>
                  <li aria-haspopup="true" class=" ">
                    <a href="javascript:;" class="nav-link "> <%= entry.name %>
                    <br>
                     <%= "-- " + entry.book + " --" %> 
                     </a>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
        <% if current_user != nil %>

        <% if current_user.roles.exists?(:name => "admin")  %>
        <li class="<%= "active" if current_page? categories_path %>">
          <a href="<%= users_path %>" class="nav-link">
            Phân quyền tài khoản
          </a>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <!-- END MEGA MENU -->
  </div>
</div>
<!-- END HEADER MENU -->
