<p id="notice"><%= notice %></p>

<h1>Versions</h1>

<table>
  <thead>
    <tr>
      <th>Item_type</th>
      <th>Item_id</th>
      <th>Event</th>
      <th>Whodunnit</th>
      <th>Object</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        
        <td><%= version.item_type %></td>
        <td><%= version.item_id%></td>
        <td><%= version.event %></td>
        <td><%= version.whodunnit %></td>
        <td><%= version.object %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
