<p id="notice"><%= notice %></p>

<p>
  <strong>Star:</strong>
  <%= @vote.star %>
</p>

<p>
  <strong>Post:</strong>
  <%= @vote.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
